@model GoodSamaritan.Models.Smart.Smart

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Smart</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BadDate.BadDateReportValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BadDate.BadDateReportValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityAssault.CityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityAssault.CityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityResidence.CityResName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityResidence.CityResName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DrugAssault.DrugFacilitatedAssaultValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrugAssault.DrugFacilitatedAssaultValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Evidence.EvidenceStoredValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Evidence.EvidenceStoredValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exploitation.SexWorkExploitationValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exploitation.SexWorkExploitationValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HIVMeds.HIVMedsValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HIVMeds.HIVMedsValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HospitalAttended.HospitalAttName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HospitalAttended.HospitalAttName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicalOnly.MedicalOnlyValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicalOnly.MedicalOnlyValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MultiPerp.MultiplePerpetratorValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MultiPerp.MultiplePerpetratorValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoliceAttendence.PoliceAttendanceValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoliceAttendence.PoliceAttendanceValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoliceReported.PoliceReportedValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoliceReported.PoliceReportedValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferCBVS.ReferCBVSValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferCBVS.ReferCBVSValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferringHospital.HospitalName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferringHospital.HospitalName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SocialWorkAttendence.SocialWorkAttendanceValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SocialWorkAttendence.SocialWorkAttendanceValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThirdParty.ThirdPartyReportValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThirdParty.ThirdPartyReportValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VictimServices.VictimServicesAttendanceValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VictimServices.VictimServicesAttendanceValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccompanimentMinutes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccompanimentMinutes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumTransportProvided)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumTransportProvided)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferToNurse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferToNurse)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
