<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Good Samaritan</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Good Samaritan", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Session["Worker"] != null)
                    {
                        <li>@Html.ActionLink("Generate Report", "ReportIndex", "Report")</li>
                        <li>@Html.ActionLink("Client Data", "Index", "Clients")</li>
                    }
                    @if (Session["Report"] != null)
                    {
                        <li>@Html.ActionLink("Generate Report", "ReportIndex", "Report")</li>
                    }
                    @if (Session["Admin"] != null)
                    {

                        <li>@Html.ActionLink("Roles & Users", "RoleIndex", "Role")</li>
                        <li>@Html.ActionLink("Client Data", "Index", "Clients")</li>
                        <li>@Html.ActionLink("Smart Data", "Index", "Smarts")</li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Lookup Lists<b class="caret"></b></a>
                            <ul class="dropdown-menu scrollable-menu" style="height:auto; max-height:300px; overflow-x:hidden">
                                <li>@Html.ActionLink("Abuser Relationship", "Index", "AbuserRelationships")</li>
                                <li>@Html.ActionLink("Age", "Index", "Ages")</li>
                                <li>@Html.ActionLink("Assigned Workers", "Index", "AssignedWorkers")</li>
                                <li>@Html.ActionLink("Crisis", "Index", "Crises")</li>
                                <li>@Html.ActionLink("Duplicate File", "Index", "DuplicateFiles")</li>
                                <li>@Html.ActionLink("Ethnicity", "Index", "Ethnicities")</li>
                                <li>@Html.ActionLink("Family Violence File", "Index", "FamilyViolenceFiles")</li>
                                <li>@Html.ActionLink("Fiscal Year", "Index", "FiscalYears")</li>
                                <li>@Html.ActionLink("Incident", "Index", "Incidents")</li>
                                <li>@Html.ActionLink("Program", "Index", "Programs")</li>
                                <li>@Html.ActionLink("Referral Contact", "Index", "ReferralContacts")</li>
                                <li>@Html.ActionLink("Referral Source", "Index", "ReferralSources")</li>
                                <li>@Html.ActionLink("Repeat Client", "Index", "RepeatClients")</li>
                                <li>@Html.ActionLink("Risk Level", "Index", "RiskLevels")</li>
                                <li>@Html.ActionLink("Risk Status", "Index", "RiskStatus")</li>
                                <li>@Html.ActionLink("Service", "Index", "Services")</li>
                                <li>@Html.ActionLink("File Status", "Index", "FileStatus")</li>
                                <li>@Html.ActionLink("Victims", "Index", "Victims")</li>
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Bad Date Report", "Index", "BadDateReports")</li>
                                <li>@Html.ActionLink("City Of Assault", "Index", "Cities")</li>
                                <li>@Html.ActionLink("City Of Residence", "Index", "CityRes")</li>
                                <li>@Html.ActionLink("Drug Facilitated", "Index", "DrugFacilitatedAssaults")</li>
                                <li>@Html.ActionLink("Evidence Stored", "Index", "EvidenceStoreds")</li>
                                <li>@Html.ActionLink("HIV Meds", "Index", "HIVMeds")</li>
                                <li>@Html.ActionLink("Hospital Attended", "Index", "HospitalAtts")</li>
                                <li>@Html.ActionLink("Medical Only", "Index", "MedicalOnlies")</li>
                                <li>@Html.ActionLink("Multiple Perpetrators", "Index", "MultiplePerpetrators")</li>
                                <li>@Html.ActionLink("Police Attendance", "Index", "PoliceAttendances")</li>
                                <li>@Html.ActionLink("Police Reported", "Index", "PoliceReporteds")</li>
                                <li>@Html.ActionLink("Referred To CBVS", "Index", "ReferCBVS")</li>
                              
                                <li>@Html.ActionLink("Sex Work", "Index", "SexWorkExploitations")</li>
                                <li>@Html.ActionLink("Social Work", "Index", "SocialWorkAttendances")</li>
                                <li>@Html.ActionLink("Third Party Report", "Index", "ThirdPartyReports")</li>
                                <li>@Html.ActionLink("Victim Services", "Index", "VictimServicesAttendances")</li>
                            </ul>
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Good Samaritan</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
